{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <title>Librería</title>
</head>
<body>
  {% include 'layout/app_header.html' %}
  <main>
    <section>
      <div class="banner">
        <div class="contenedor">
          <a href="{% static 'Carrito' %}"><img src="{% static 'assets/CAS_GGMarquez.png' %}" alt="Cien años de soledad" class="portada"></a>
          <div class="contenedor__info">
            <p>Titulo: Cien Años de Soledad</p>
            <p>Autor: Gabriel Garcia Marquez.</p>
          </div>
        </div>
        <div class="contenedor">
          <a href="{% static 'Carrito' %}"><img src="{% static 'assets/ATC_GGMarquez.png' %}" alt="Portada" class="portada"></a>
          <div class="contenedor__info">
            <p>Titulo: El amor en los tiempos del cólera.</p>
            <p>Autor: Gabriel Garcia Marquez.</p>
          </div>
        </div>
        <div class="contenedor">
          <a href="{% static 'Carrito' %}"><img src="{% static 'assets/HI_HGWells.png' %}" alt="El hombre invisible" class="portada"></a>
          <div class="contenedor__info">
            <p>Titulo: El hombre invisible</p>
            <p>Autor: H. G. Wells</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="banner">
        <div class="contenedor">
          <a href="{% static 'Carrito' %}"><img src="{% static 'assets/HP1_JKRowling.png' %}" alt="Harry Potter 1" class="portada"></a>
          <div class="contenedor__info">
            <p>Titulo: Harry Potter y la piedra filosofal.</p>
            <p>Autor: J. K. Rowling.</p>
          </div>
        </div>
        <div class="contenedor">
          <a href="{% static 'Carrito' %}"><img src="{% static 'assets/HP2_JKRowling.png' %}" alt="Harry potter 2" class="portada"></a>
          <div class="contenedor__info">
            <p>Titulo: Harry Potter y la camara secreta.</p>
            <p>Autor: J. K. Rowling</p>
          </div>
        </div>
        <div class="contenedor">
          <a href="{% static 'Carrito' %}"><img src="{% static 'assets/HP3_JKRowling.png' %}" alt="Harry Potter 3" class="portada"></a>
          <div class="contenedor__info">
            <p>Titulo: Harry Potter y el prisionero de azkaban</p>
            <p>Autor: J. K. Rowling.</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="banner">
        <div class="contenedor">
          <a href="{% static 'Carrito' %}"><img src="{% static 'assets/HP4_JKRowling.png' %}" alt="Harry Potter 4" class="portada"></a>
          <div class="contenedor__info">
            <p>Titulo: Harry Potter y el caliz de fuego.</p>
            <p>Autor: J. K. Rowling.</p>
          </div>
        </div>
        <div class="contenedor">
          <a href="{% static 'Carrito' %}"><img src="{% static 'assets/HP5_JKRowling.png' %}" alt="Harry potter 5" class="portada"></a>
          <div class="contenedor__info">
            <p>Titulo: Harry Potter y la orden del fenix.</p>
            <p>Autor: J. K. Rowling</p>
          </div>
        </div>
        <div class="contenedor">
          <a href="{% static 'Carrito' %}"><img src="{% static 'assets/HP6_JKRowling.png' %}" alt="Harry Potter 6" class="portada" ></a>
          <div class="contenedor__info">
            <p>Titulo: Harry Potter y el misterio del principe.</p>
            <p>Autor: J. K. Rowling.</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="banner">
        <div class="contenedor">
          <a href="{% static 'Carrito' %}"><img src="{% static 'assets/GOT1_GRRMartin.png' %}" alt="juego de tronos" class="portada"></a>
          <div class="contenedor__info">
            <p>Titulo: Juego de tronos<br>Canción de hielo y fuego I.</p>
            <p>Autor: George R. R. Martin.</p>
          </div>
        </div>
        <div class="contenedor">
          <a href="{% static 'Carrito' %}"><img src="{% static 'assets/GOT2_GRRMartin.png' %}" alt="Choque de reyes" class="portada"></a>
          <div class="contenedor__info">
            <p>Titulo: Choque de reyes<br>Cancion de hielo y fuego II.</p>
            <p>Autor: George R. R. Martin.</p>
          </div>
        </div>
        <div class="contenedor">
          <a href="{% static 'Carrito' %}"><img src="{% static 'assets/GOT3_GRRMartin.png' %}" alt="Harry Potter 6" class="portada" ></a>
          <div class="contenedor__info">
            <p>Titulo: Tormenta de espadas.<br>Canción de hielo y fuego III.</p>
            <p>Autor: George R. R. Martin.</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="banner">
        <div class="contenedor">
          <a href="{% static 'Carrito' %}"><img src="{% static 'assets/GOT4_GRRMartin.png' %}" alt="Festín de cuervos" class="portada"></a>
          <div class="contenedor__info">
            <p>Titulo: Festín de cuervos<br>Canción de hielo y fuego IV.</p>
            <p>Autor: George R. R. Martin.</p>
          </div>
        </div>
        <div class="contenedor">
          <a href="{% static 'Carrito' %}"><img src="{% static 'assets/GOT5_GRRMartin.png' %}" alt="Danza de dragones" class="portada"></a>
          <div class="contenedor__info">
            <p>Titulo: Danza de dragones<br>Cancion de hielo y fuego V.</p>
            <p>Autor: George R. R. Martin.</p>
          </div>
        </div>
        <div class="contenedor">
          <a href="{% static 'Carrito' %}"><img src="{% static 'assets/GOT6_GRRMartin.png' %}" alt="Vientos de invierno" class="portada" ></a>
          <div class="contenedor__info">
            <p>Titulo: Vientos de invierno.<br>Canción de hielo y fuego VI.</p>
            <p>Autor: George R. R. Martin.</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="banner">
        <div class="contenedor">
          <a href="{% static 'Carrito' %}"><img src="{% static 'assets/GOT7_GRRMartin.png' %}" alt="Sueño de primavera" class="portada"></a>
          <div class="contenedor__info">
            <p>Titulo: Sueño de primavera<br>Canción de hielo y fuego VII.</p>
            <p>Autor: George R. R. Martin.</p>
          </div>
        </div>
        <div class="contenedor">
          <a href="{% static 'Carrito' %}"><img src="{% static 'assets/CDV_DanBrown.png' %}" alt="Codigo Da Vincci" class="portada"></a>
          <div class="contenedor__info">
            <p>Titulo: El codigo DA Vincci.</p>
            <p>Autor: Dan Brown.</p>
          </div>
        </div>
        <div class="contenedor">
          <a href="{% static 'Carrito' %}"><img src="{% static 'assets/GM_HGWells.png' %}" alt="Guerra de los mundos" class="portada" ></a>
          <div class="contenedor__info">
            <p>Titulo: Guerra de los mundos.</p>
            <p>Autor: H. G. Wells.</p>
          </div>
        </div>
      </div>
    </section>
    {% include 'layout/app_footer.html' %}
  </main>
</body>
</html>