{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&family=Roboto+Mono:wght@100&display=swap"
    rel="stylesheet">
  <title>Biblioteca virtual</title>
</head>
<body>
  <header>
    <img src="{% static 'logo_biblioteca.jpg'%}" alt="logo_biblioteca" class="logo">
    <a href="{% url 'Biblioteca' %}">Biblioteca</a>
  </header>
  <main>
    <section>
      <form action="{% url 'Inicio' %}" method="post" class="form">
        <div class="form__item">
          <label for="user">Usuario:</label>
          <input type="text" id="user" name="user_name" required/>
        </div>
        <div class="form__item">
          <label for="password">Contraseña:</label>
          <input type="password" id="password" name="user_password" required />
        </div>
        <div>
          <button type="subbmit" class="button">Ingresar</button>
        </div>
        <div class="form__item">
          <p>Olvidaste tu contraseña?</p>
          <a href="{% url 'Recuperar_contraseña' %}">Recuperar contraseña</a>
        </div>
      </form>
    </section>
  </main>
</body>
</html>
