<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto</title>
</head>

<body>
  <main>
    {% include 'layout/app_header' %}
    <section>
      <form action="/" method="post">
        <div>
          <label for="name">Nombre: </label>
          <input id="name" name="user_name" type="text" />
        </div>
        <div>
          <label for="apellido">Apellido: </label>
          <input id="apellido" name="user_lastname" type="text" />
        </div>
      </form>
    </section>
    {% include 'layout/app_footer' %}
  </main>
</body>

</html>