<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing</title>
</head>

<body>
  {% include 'layout/app_header.html' %}
  <main>
    <section>
      <div class="perfil-box">
        <div class="contenedor">
          <a href="contacto.html"><img src="static/foto_perfil_1.jpg" class="foto"></a>
          <div class="contenedor__datos">
            <p>Datos personales:<br>Angelina L. Moeller <br>34 años</p>
            <p>Contacto:<br><a>facebook.com/angelina24</a><br><a>angelinamoeller@gmail.com</a></p>
          </div>
        </div>
        <div class="contenedor">
          <a href="contacto.html"><img src="static/foto_perfil_2.jpg" class="foto"></a>
          <div class="contenedor__datos">
            <p>Datos personales:<br>Anna B. Molina<br>28 años</p>
            <p>Contacto:<a><br>facebook.com/anna37</a><br><a>annamolina@gmail.com</a></p>
          </div>
        </div>
      </div>
      <div class="perfil-box">
        <div class="contenedor">
          <a href="contacto.html"><img src="static/foto_perfil_3.jpg" class="foto"></a>
          <div class="contenedor__datos">
            <p>Datos personales:<br>Patricia J. Christmas<br>32 años</p>
            <p>Contacto:<br><a>facebook.com/patricia42</a><br><a>patricia@gmail.com</a></p>
          </div>
        </div>
        <div class="contenedor">
          <a href="contacto.html"><img src="static/foto_perfil_4.jpg" class="foto"></a>
          <div class="contenedor__datos">
            <p>Datos personales:<br>Margaret M. Wiiliams<br>25 años</p>
            <p>Contacto:<a><br>facebook.com/margaretw</a><br><a>mawi@gmail.com</a></p>
          </div>
        </div>
      </div>
      <div class="perfil-box">
        <div class="contenedor">
          <a href="contacto.html"><img src="static/foto_perfil_5.jpg" class="foto"></a>
          <div class="contenedor__datos">
            <p>Datos personales:<br>Elva J. Ramos<br>37 años</p>
            <p>Contacto:<br><a>facebook.com/elvajr</a><br><a>elra@gmail.com</a></p>
          </div>
        </div>
        <div class="contenedor">
          <a href="contacto.html"><img src="static/foto_perfil_6.jpg" class="foto"></a>
          <div class="contenedor__datos">
            <p>Datos personales:<br>Lesa M. Rotz<br>24 años</p>
            <p>Contacto:<a><br>facebook.com/lesamrotz</a><br><a>lemro@gmail.com</a></p>
          </div>
        </div>
      </div>
      <div class="perfil-box">
        <div class="contenedor">
          <a href="contacto.html"><img src="static/foto_perfil_7.jpg" class="foto"></a>
          <div class="contenedor__datos">
            <p>Datos personales:<br>Nancy A. McAdoo<br>40 años</p>
            <p>Contacto:<br><a>facebook.com/nacyMc</a><br><a>nanamac@gmail.com</a></p>
          </div>
        </div>
        <div class="contenedor">
          <a href="contacto.html"><img src="static/foto_perfil_8.jpg" class="foto"></a>
          <div class="contenedor__datos">
            <p>Datos personales:<br>Heather Z. McNeely<br>26 años</p>
            <p>Contacto:<a><br>facebook.com/heatz</a><br><a>heatzmac@gmail.com</a></p>
          </div>
        </div>
      </div>
      <div class="perfil-box">
        <div class="contenedor">
          <a href="contacto.html"><img src="static/foto_perfil_10.jpg" class="foto"></a>
          <div class="contenedor__datos">
            <p>Datos personales:<br>Lucille A. Hernandez<br>28 años</p>
            <p>Contacto:<a><br>facebook.com/lucyhernandez</a><br><a>luher@gmail.com</a></p>
          </div>
        </div>
        <div class="contenedor">
          <a href="contacto.html"><img src="static/foto_perfil_9.jpg" class="foto"></a>
          <div class="contenedor__datos">
            <p>Datos personales:<br>Zenaida J. Hudgins<br>36 años</p>
            <p>Contacto:<br><a>facebook.com/zenahudgins</a><br><a>zenahud@gmail.com</a></p>
          </div>
        </div>
      </div>
    </section>
  </main>
  {% include 'layout/app_footer.html' %}
</body>

</html>